<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            padding:3em;
            font-family: sans-serif;
            line-height: 1.8;
        }

    </style>
</head>
<body>

<h1>Flickr API Proxy</h1>
<em>A very much work in progress</em>
<hr/>
<h2>Examples</h2>
<p><em>(these users just chosen at random from Flickr)</em></p>
<ul>
    <li>A user from Flickr ID: <a href="/user/147210280@N03">/user/147210280@N03</a></li>
    <li>A user from Flickr friendlier URL name: <a href="/user/everydayfilms">/user/everydayfilms</a></li>
    <li>A IIIF v3 Manifest from the user's photo stream: <a href="/photos/127885125@N05">/photos/127885125@N05</a></li>
    <li>A Flickr Album: <a href="/albums/72157677096272345">/albums/72157677096272345</a></li>
    <li>A IIIF v3 Image Service: <a href="/photo/51912078703/info.json">/photo/51912078703/info.json</a><br/>
    This is a Level 0 image service without a <b>tiles</b> property, see <a href="https://tomcrane.github.io/scratch/osd/iiif-sizes.html">tile-less IIIF</a></li>
    <li>An image from that service: <a href="/photo/51912078703/full/2048,1365/0/default.jpg">/photo/51912078703/full/2048,1365/0/default.jpg</a></li>
    <li>And another: <a href="/photo/51912078703/full/max/0/default.jpg">/photo/51912078703/full/max/0/default.jpg</a></li>
</ul>


</body>
</html>